<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Helluz</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Helluz.styles.css" asp-append-version="true" />
</head>
<body>
    <header class="Encabezado navbar navbar-dark bg-dark fixed-top">
        <div class="container-fluid d-flex align-items-center">
            <img src="~/imagenes/HelluzLogo.jpeg" alt="Logo del sistema" width="60" height="60">
            <h4 class="ms-3 mb-0 text-white">Helluz</h4>
        </div>
    </header>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark flex-column align-items-start vh-100 position-fixed"
         style="width: 220px; top: 80px; margin-top: 0;">

        <div class="container-fluid flex-column align-items-start mt-3">

            <a class="navbar-brand mb-4" asp-area="" asp-controller="Home" asp-action="Index">Helluz</a>

            <button class="navbar-toggler mb-3" type="button" data-bs-toggle="collapse" data-bs-target="#sideMenu"
                    aria-controls="sideMenu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse w-100" id="sideMenu">
                <ul class="navbar-nav flex-column w-100">
                    
                    <li class="nav-item">
                        <a class="nav-link " asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " asp-area="" asp-controller="Alumnoes" asp-action="Index">Alumnos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " asp-area="" asp-controller="Instructors" asp-action="Index">Instructores</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " asp-area="" asp-controller="Membresias" asp-action="Index">Membresias</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " asp-area="" asp-controller="Horarios" asp-action="Index">Horarios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " asp-area="" asp-controller="Disciplinas" asp-action="Index">Disciplnas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " asp-area="" asp-controller="TokenQrs" asp-action="Index">Qr</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <main role="main" class="pb-3" margin-left: 220px; margin-top:120px;>
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - Helluz - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
