@model Helluz.Models.TokenQr

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TokenQr</h4>
    <hr />
    <dl class="row">

        <img src="@Url.Action("Generar", "QR", new { token = Model.Token })" alt="QR para marcar asistencia" />
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdToken">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
