@model Helluz.Models.Usuario

@{
    ViewData["Title"] = "Eliminar";
}

<div class="container py-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card ">
                <div class="card-header">
                    <h4 class="mb-0">
                        <i class="fas fa-exclamation-triangle"></i> Confirmar Eliminación
                    </h4>
                </div>
                <div class="card-body">
                    <div class="alert alert-warning">
                        <i class="fas fa-exclamation-circle"></i>
                        ¿Estás seguro de que deseas eliminar este registro?
                    </div>

                    <dl class="row">

                        <dt class="col-sm-4">Nombre:</dt>
                        <dd class="col-sm-8">@Model.NombreUsuario</dd>

                        <dt class="col-sm-4">Costo:</dt>
                        <dd class="col-sm-8">$@Model.Password</dd>

                        <dt class="col-sm-4">Estado:</dt>
                        <dd class="col-sm-8">
                            @if (Model.Estado)
                            {
                                <span class="badge bg-success">Activo</span>
                            }
                            else
                            {
                                <span class="badge bg-danger">Inactivo</span>
                            }
                        </dd>
                        <dt class="col-sm-4">Sesiones:</dt>
                        <dd class="col-sm-8">@Model.Rol</dd>

                    </dl>

                    <form asp-action="Delete">
                        <input type="hidden" asp-for="IdUsuario" />
                        <div class="d-flex justify-content-between">
                            <a asp-action="Index" class="btn btn-secondary">
                                <i class="fas fa-arrow-left"></i> Cancelar
                            </a>
                            
                                <button type="submit" class="btn btn-delete">
                                    <i class="fas fa-trash"></i> Eliminar
                                </button>
                            
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>