@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link href="~/css/Home.css" rel="stylesheet" />
</head>

<div class="text-center">
    
    <h1 class="display-4">SISTEMA DE GESTION 
        <br />HELLUZ
    </h1>
    <img src="imagenes/HelluzLogo.jpeg" id="LogoInicio" alt="Logo Helluz"/>

</div>
