body {
    color: black;
    margin-top: 80px;
    background: #fff;
}
    h4{
        font-family:'Bahnschrift SemiCondensed';
        font-size:1.5em;
    }
p,h3{
    margin-top:15px;
}
p{
    font-size:2rem;
}

.seccion {
    display: flex;
    width: 100%;
    height: 60vh;
    justify-content:space-between;
}

/* TARJETAS LINEALES GRANDES */
.cardhome {
    width: 100%;
    max-width: 600px; /* Las tarjetas serán largas */
    padding: 20px 25px;
    border: 2px solid #333;
    box-shadow: 0 0 10px 0 #333;
    border-radius: 10px;
    background: #212427;
    transition: .3s ease-in-out;
    color: #999;
    text-align: center;
    margin: 10px;
}

    /* Estilo general del contenido */
    .cardhome h4 {
        margin: 15px 0 10px 0;
        font-size: 2em;
        font-weight:bold;
    }

    .cardhome p {
        margin-top:4rem;
        font-size: 3rem;
        font-weight: bold;
        color:#fff;
        margin-bottom:4rem;
    }

    /* Efecto hover */
    .cardhome:hover {
        border-color: #f00;
        transform: scale(1.02);
        box-shadow: 0 0 10px 0 #f00;
    }
    
    .icono{
        font-size:4rem;
        color:#999;

    }
    
    
    @media (max-width:480px){
        .seccion{
            display:flex;
            flex-direction: column;
        }

    }
