body {
    color:black;
    font-family:'Times New Roman', Times, serif;
    background-position:center;
    background-size:cover;
    margin-top:80px;
}
/*
.container {
    margin-top: 120px; 
    display: flex;
    justify-content: space-between;
}box-shadow: rgba(0, 0, 0, 0.35) 0px 15px 20px;
    */
.card-home {
    margin: 20px;
    color: white;
    font-family:'Sans Serif Collection';
    background-color: #212529;
    border-radius: 5px;
    width: 250px;
    height: 150px;
    font-size: 25px;
    text-align: center;
    border:groove 5px rgb(0, 0, 0);
}

p,h3{
    margin-top:15px;
}