body {
    color:#fff;
    font-family:'Times New Roman', Times, serif;
    background-position:center;
    background-size:cover;
    margin-top:80px;
}
/*
.container {
    margin-top: 120px; 
    display: flex;
    justify-content: space-between;
}box-shadow: rgba(0, 0, 0, 0.35) 0px 15px 20px;
    */
.card {
    margin: 20px;
    color: white;
    background-color: #333;
    border-radius: 5px;
    width: 250px;
    height: 150px;
    font-size: 25px;
    border-color: rgb(38, 57, 77);
    text-align: center;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

p,h3{
    margin-top:15px;
}