
body {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background:white;
}


.fade-in {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 2s ease, transform 2s ease;
}

    .fade-in.show {
        opacity: 1;
        transform: translateY(0);
    }

.form-control, .btn {
    border-radius: 10px;
}

.btn-outline-primary {
    color: #fff;
    background-color:#f00;
    border:none;
    padding:8px 20px;
    border-radius:100px;
}

    .btn-outline-primary:hover {
        background-color: #f00;
        color: #fff;
        border-color: #000
    }

.login-container {
    background-color: #;
    padding: 30px;
    border-radius: 20px;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    width: 600px !important;
    height: 600px;
    margin: auto;
    margin-top: 100px;
    border:solid 1px #ccc;
    box-shadow:0 0 10px 0 #f00;
}

.login-icono {
    border-radius: 100px;
    border: none;
}

#HelluzLogo {
    width: 400px;
    height: 400px;
}

label, h2,p {
    color: #000;
    text-align:center;
}
p{
    margin:10px;
}
h1{
    color:#000;
    font-size:40px;
    font-family:"Robot",'Sans Serif Collection';
}
