html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    /*background: linear-gradient(#fff 90%, #902 100%);*/
}
main {
    margin-left:220px;
}
.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}
.nav-link{
    padding:15px 20px;
    margin:5px;
    color: white;
}
.nav-link:hover{
    background-color: #444;
    border-radius: 10px;
    border-left: solid 2px #902;
}
a {
    text-decoration: none;
    padding: 10px 20px;
    color: black;
    border: solid 1px black;
    border-radius:10px;
    margin:20px;
}
a:hover{
    background-color: #444;
    border-radius:10px;
    color:white;
}
.Encabezado{
    background-color: #000;
    color:white;
    text-align:center;
    font-size:20px;
    font-family:'Lucida Bright';
}