html {
  font-size: 14px;
}
*{
    font-family:'Sans Serif Collection';
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    /*background: linear-gradient(#fff 90%, #902 100%);*/
    margin-top:100px;
}
main {
    margin-left:220px;
}
.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}
.nav-link{
    padding:15px 20px;
    margin:5px;
    color: white;
    font-size:20px;
}
.nav-link:hover{
    background-color: #444;
    border-radius: 10px;
    border-left: solid 2px #902;
}
a {
    text-decoration: none;
    padding: 10px 20px;
    color: black;
    border: solid 1px black;
    border-radius:10px;
    margin:20px;
}
a:hover{
    background-color: #444;
    border-radius:10px;
    color:white;
}

.Encabezado {
    position: fixed; /* Lo deja fijo en la pantalla */
    top: 0; /* Pegado arriba */
    left: 0; /* Alineado al borde izquierdo */
    width: 100%; /* Ocupa todo el ancho de la pantalla */
    background-color: #212529; /* Fondo oscuro (igual al menú) */
    color: white; /* Letras blancas */
    z-index: 1050; /* Se asegura de que quede encima del resto del contenido */
    padding: 10px 20px; /* Espaciado interno */
    display: flex; /* Alineación del contenido */
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3); /* Sombra sutil */
}

.btn{
    background:#fff;
    color:#222;
    border-radius:25px;
    border:solid 2px #222;
}
    .btn:hover {
        background: #212529;
        color: white;
        box-shadow: 0 0 10px 0 #222;
        border-radius: 25px;
        transition: 0.5s;
    }

h2{
    color: #f00;
    border-radius:10px;
    border-left: solid 5px;
    padding:15px;
    background: #f5f5f5;
}
.text{
    color:#222;
    font-size:18px;
}

th {
    background: #212529 !important;
    border-bottom: solid 2px #f00 !important;
    text-align: center;
    color: white !important;
}

table {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset !important;
}
.btn-delete:hover{
    background:#f00;
}


.card-header{
    background: #212529;
    color:white;
}

.card {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset !important;
}
input{
    border-left:solid 5px #444 !important;
    font-size:20px;
}